<a href="https://colab.research.google.com/github/Mmbsaksd/Customer-segmentation/blob/main/Customer_Segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Feature Engineering**

##**Importing**

In [15]:
#Importing the essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Loading the datasets
df = pd.read_csv('/content/Online Retail.xlsx - Online Retail.csv')

##**Data Inspection**

In [3]:
#First Look
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [4]:
#Checking shape
df.shape

(541909, 8)

In [5]:
#Checking the info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [6]:
#Checking the statistical discribtion
df.describe(include='all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,541909,541909,540455,541909.000000,541909,541909.000000,406829.000000,541909
unique,25900,4070,4223,NaN,23260,NaN,NaN,38
top,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,10/31/11 14:41,NaN,NaN,United Kingdom
freq,1114,2313,2369,NaN,1114,NaN,NaN,495478
mean,NaN,NaN,NaN,9.552250,NaN,4.611114,15287.690570,NaN
std,NaN,NaN,NaN,218.081158,NaN,96.759853,1713.600303,NaN
min,NaN,NaN,NaN,-80995.000000,NaN,-11062.060000,12346.000000,NaN
25%,NaN,NaN,NaN,1.000000,NaN,1.250000,13953.000000,NaN
50%,NaN,NaN,NaN,3.000000,NaN,2.080000,15152.000000,NaN
75%,NaN,NaN,NaN,10.000000,NaN,4.130000,16791.000000,NaN
max,NaN,NaN,NaN,80995.000000,NaN,38970.000000,18287.000000,NaN

##**Handling Missing Data**

In [7]:
from pandas.core import missing
#Missing value count Function
def show_missing():
  missing = df.columns[df.isnull().any()].tolist()
  return missing

#Missing data count and percentage
print("Missing Data Count")
print(df[show_missing()].isnull().sum().sort_values(ascending=False))
print('--'*50)
print('Missing Data Percentage')
print(round(df[show_missing()].isnull().sum().sort_values(ascending=False)/len(df)*100,2))

Missing Data Count
CustomerID     135080
Description      1454
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Data Percentage
CustomerID     24.93
Description     0.27
dtype: float64

In [8]:
#Handling the missing values
#Customer id is irrelavant so dropping
df.drop('CustomerID', axis=1, inplace=True)

#Description cant be imputed by mesuare of tendancy
#So dropping null value row
df.dropna(axis=1, inplace=True)

df.head()

  InvoiceNo StockCode  Quantity   InvoiceDate  UnitPrice         Country
0    536365    85123A         6  12/1/10 8:26       2.55  United Kingdom
1    536365     71053         6  12/1/10 8:26       3.39  United Kingdom
2    536365    84406B         8  12/1/10 8:26       2.75  United Kingdom
3    536365    84029G         6  12/1/10 8:26       3.39  United Kingdom
4    536365    84029E         6  12/1/10 8:26       3.39  United Kingdom

In [9]:
#Reconfirmation on null value
df.isnull().sum().sort_values(ascending=False)

InvoiceNo      0
StockCode      0
Quantity       0
InvoiceDate    0
UnitPrice      0
Country        0
dtype: int64

##**Removing Cancelled Rows**

In [10]:
#Converting invoice number columns into str
df['InvoiceNo'] = df['InvoiceNo'].astype(str)

#Remove row which are cancelled
df = df[~df['InvoiceNo'].str.contains('C')]

df.head()

  InvoiceNo StockCode  Quantity   InvoiceDate  UnitPrice         Country
0    536365    85123A         6  12/1/10 8:26       2.55  United Kingdom
1    536365     71053         6  12/1/10 8:26       3.39  United Kingdom
2    536365    84406B         8  12/1/10 8:26       2.75  United Kingdom
3    536365    84029G         6  12/1/10 8:26       3.39  United Kingdom
4    536365    84029E         6  12/1/10 8:26       3.39  United Kingdom

##**Date Columns Split**

In [13]:
#Extracting element from invoice date
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['WeekDay'] = df['InvoiceDate'].dt.day_name()
df['Month'] = df['InvoiceDate'].dt.month_name()
df['Day'] = df['InvoiceDate'].apply(lambda x: x.day)
df['Year'] = df['InvoiceDate'].apply(lambda x: x.year)
df['Hour'] = df['InvoiceDate'].apply(lambda x: x.hour)
df['Minute'] = df['InvoiceDate'].apply(lambda x: x.minute)

In [12]:
#Create total amount columns
df['Total_Amount'] = df['Quantity']*df['UnitPrice']

#DataFrame Look
df.head()

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,Country,WeekDay,Month,Day,Year,Hour,Minute,Total_Amount
0,536365,85123A,6,2010-12-01 08:26:00,2.55,United Kingdom,Wednesday,December,1,2010,8,26,15.30
1,536365,71053,6,2010-12-01 08:26:00,3.39,United Kingdom,Wednesday,December,1,2010,8,26,20.34
2,536365,84406B,8,2010-12-01 08:26:00,2.75,United Kingdom,Wednesday,December,1,2010,8,26,22.00
3,536365,84029G,6,2010-12-01 08:26:00,3.39,United Kingdom,Wednesday,December,1,2010,8,26,20.34
4,536365,84029E,6,2010-12-01 08:26:00,3.39,United Kingdom,Wednesday,December,1,2010,8,26,20.34